.container {
    background-color: #003366;
    color: white;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    padding: 0 1em;
    align-items: center;
    border-radius: 1em;
    img {
        width: 100%;
        clip-path: circle();
    }
    .contact {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        fa-icon {
            color: var(--accent);
        }
    }
    .social {
        display: flex;
        justify-content: space-evenly;
        grid-gap: 1em;
        margin-right: 2em;
        color: var(--accent);
    }
    
    span {
        display: flex;
        font-size: 20px;
        p {
            margin: 0;
        }
        fa-icon {
            margin-right: 0.5em;
            width: 1em;
            text-align: center;
        }
    }
    a {
        color: white;
    }
}

@media screen and (max-width: 992px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        img {
            display: none;
        }
    }
}
@media screen and (max-width: 576px) {
    span {
        font-size: 12px!important;
    }
}