.container {
    box-shadow: 1px 1px 5px #838c948f;
    margin: 0 auto;
    padding: 0;
    border-radius: 1em;
    .header {
      position: relative;
    }
    h1 {
        text-transform: uppercase;
        width: 100%;
        padding-bottom: 0.2em;
        &::before {
            content:" ";
            position: absolute;
            border-bottom: 1px solid black;
            width: 100%;
            height: 1.5em;
        }
    }
    .summary, .content {
        margin: 1em;
        position: relative;
        overflow: hidden;
    }
    .content {
        display: grid;
        grid-template-columns: 75% 25%;
        margin: 1em;
        .aside, .experience {
          margin-right: 1em;
          padding: 0.5em;
          position: relative;
          overflow: hidden;
        }
        .aside {
            display: flex;
            flex-direction: column;
            background-color: #003366;
            border-radius: 1em;
            color: white;
        }
    }
}

button {
    background-color: var(--accent);
    padding: 0.2em 0.8em;
    border-radius: 10px;
    outline: none;
    color: white;
    position: fixed;
    right: 5px;
    bottom: 10px;
    font-size: 24px;
    border-radius: 10px;
    border: 0;
    -webkit-box-shadow: 3px 3px 5px 1px #000000; 
    box-shadow: 3px 3px 5px 1px #000000;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
}

.lang {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  display: flex;
  cursor: pointer;
  p {
    margin-right: 15px;
  }
}

.selected {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .container {
    .lang {
      font-size: 10px;
      p {
        margin-right: 5px;
      }
    }
      .content {
          grid-gap: 1em!important;
          grid-template-columns: 50% 50%;
          margin: 0;
          .aside, .experience {
            padding: 0.2em 1em 0 0.5em;
            margin-right: 1.2em;
          }
      }
      .summary {
          p {
              font-size: 12px;
          }
      }
  }
  button {
      font-size: 18px;
  }
}



//SPINNER

.loader {
    width: 36px;
    height: 36px;
    margin: 0 32px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #003366;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }