.container {
    box-shadow: 1px 1px 5px #838c948f;
    margin: 0 auto;
    padding: 0;
    .header {
      position: relative;
    }
    h1 {
        text-transform: uppercase;
        color: black;
        width: 100%;
        &::before {
            content:" ";
            position: absolute;
            border-bottom: 1px solid #538bc7;
            width: 100%;
            height: 1.2em;
        }
    }
    .summary, .content {
        margin: 1em;
        position: relative;
        overflow: hidden;
    }
    .content {
        display: grid;
        grid-template-columns: 70% 25%;
        grid-gap: 2em;
        padding-bottom: 2em;
        .experience {
            position: relative;
            overflow: hidden;
        }
        .aside {
            display: flex;
            flex-direction: column;
        }
    }
}

button {
    background-color: #538bc7;
    padding: 0.2em 0.8em;
    border: 1px solid #538bc7;
    outline: none;
    color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 24px;
    border-radius: 3px;
}

.lang {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  display: flex;
  cursor: pointer;
  p {
    margin-right: 15px;
  }
}

.selected {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .lang {
    font-size: 10px;
    p {
      margin-right: 5px;
    }
  }
    .content {
        grid-gap: 1em!important;
    }
    .content, .summary {
        margin: 0.2em!important;
    }
    .summary {
        p {
            font-size: 12px;
        }
    }
    button {
        font-size: 18px;
    }
}



//SPINNER

.loader {
    width: 36px;
    height: 36px;
    margin: 0 32px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #538bc7;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }